<!-- home/main page -->

<!-- add plugin carousel -->
<!-- 
<div class="homeDiv">
  <img src="images/boy.jpeg" onmouseover="this.src='images/girl.jpeg'" onmouseout="this.src='images/boy.jpeg'">
</div>



<div class="imgContainer">

  <div class="gallery">
    <img src="images/naruto.jpg">

  </div>

  <div class="gallery">
    <img src="images/apple.jpeg" onmouseover="this.src='images/apple1.png'" onmouseout="this.src='images/apple.jpeg'">
  </div>

  <div class="gallery">
    <img src="images/dark.png">
  </div>

  <div class="gallery">
    <img src="images/friends.jpeg" onmouseover="this.src='images/friends1.jpg'" onmouseout="this.src='images/friends.jpeg'">

  </div>

</div>


<div class="fanFaves">
  <h1>Fan Favorites</h1>



</div>


<div class="anime" ng-controller="animeController">

  <form class="form">
    <input id="search" type="search" placeholder="Search By Genre" ng-model="genre">
  </form>

  <div class="animeDiv" ng-repeat="anime in animeData | filter: genre">
    <!-- <h2>{{anime}}</h2> -->
    <a href="{{anime.url}}" target="_blank"><img ng-src="{{anime.cover_image}}"></a>

  </div>

</div>


<div class="aboutUs" id="aboutus">

  <h1>About Us</h1>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>

</div>



<!-- add user favorites here: -->


<!--

<form>
Select a topic:
  <select ng-model="myVar">
    <option value="">
    <option value="six hours">Dogs
    <option value="eight hours">Tutorials
    <option value="10 hours">Cars
  </select>
</form>

<div ng-switch="myVar">
  <div ng-switch-when="six hours">
    <h1>Dogs</h1>
      <p>Welcome to a world of dogs.</p>
  </div>

  <div ng-switch-when="eight hours">
    <h1>Tutorials</h1>
      <p>Learn from examples.</p>
  </div>

  <div ng-switch-when="10 hours">
    <h1>Cars</h1>
      <p>Read about cars.</p>
  </div>
</div> -->

<!-- aboutus page -->





<!-- contactus page -->

<div class="contactUs">
  <h1>Contact Us</h1>

  <h3>Feel free to contact us with any questions, comments, or concerns.</h3>

  <form class="contactForm">
    <p><input type="text" placeholder="Name"></p>
    <p><input type="email" placeholder="exmaple@email.com"></p>
    <p><input type="text" placeholder="Subject"></p>
    <p><input id="textarea" type="textarea" placeholder="Your comments here..."></p>
    <button type="button">Submit</button>
  </form>
</div> -->
